.my_website {
    height: 100vh;
    display: grid;
    grid-template-columns: .5fr 2.5fr;
    grid-template-rows: .5fr 1.5fr;
}

.about_me {
    grid-area: 1/2/-1/-1;
    background-color: #B5D6FF;
}

.image {
    
    
}

